###############################################################################
# Editor                                                                      #
###############################################################################
# IntelliJ IDEA
/.idea/
/*.iml

###############################################################################
# Other                                                                       #
###############################################################################
*~
